* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {}

body {
    background: #3498db;
    margin: 2% 20%;
}

#title {
    text-align: center;
}

.kalam-image img {
    width: 800px;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
}

.About h2 {
    color: #ccc;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.info {
    background-color: rgba(85, 99, 184, 0.25);
    box-shadow: 20px 20px 200px #acb5fb;
    padding: 5px 40px;
}

.footer {
    margin-top: 20px;
}



@media(max-width:1100px) {
    body {
        margin: 2% 2%;
    }

    .kalam-image img {
        width: 100%;
    }

    .About h2 {
        font-size: 50px;
    }

    .footer {
        text-align: center;
    }
}